scanner/model.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="parameter">
    <xsd:complexType>      
      <xsd:sequence>
        <xsd:element name="operation" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="number" use="required" type="xsd:string"/>
      <xsd:attribute name="expected" type="xsd:float"/>
      <xsd:attribute name="actual" type="xsd:float"/>
      <xsd:attribute name="fault" use="required" type="xsd:float"/>
      <xsd:attribute name="parameter" use="required" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>